{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Options Analysis Suite API",
    "version": "1.0.0",
    "description": "Institutional-grade options analytics API. Programmatic access to 17 pricing models (including 7 exotic options), auto-calibration, real-time exposure analytics, WebSocket streaming, and pre-computed market data.\n\n## Features\n\n- **17 pricing models** — 10 standard (Black-Scholes, Heston, SABR, FFT (Carr-Madan with 6 characteristic functions), Variance Gamma, Jump Diffusion (Kou/Bates/Merton), Binomial, PDE, Monte Carlo, Local Volatility (Dupire + eSSVI)) plus 7 exotic (Barrier, Asian, Lookback, Digital, Compound, Chooser, Multi-Asset) with optional strategy-insight card via `includeInsight`\n- **Auto-calibration** — Heston, SABR, VG, JD, and Local Vol calibrate against live broker chain data in 0.25-16s\n- **Greek exposure** — GEX, DEX, VEX, Vanna, Charm, Vomma with gamma flip detection, call/put walls, abs gamma anchor, dealer positioning regime\n- **Real-time streaming** — WebSocket endpoint for live quotes, Greeks, and computed exposure snapshots\n- **Pre-computed data** — market regime, IV surfaces, snapshots, metrics, scanner, risk-neutral + lognormal probability distributions\n\n## Authentication\n\nAll `/v1/*` endpoints require an API key. Pass it via either header:\n\n- `Authorization: Bearer oas_live_...`\n- `X-API-Key: oas_live_...`\n\n## Rate limits\n\nSeparate buckets for data and compute endpoints (per user, shared across all API keys):\n\n- **Data** (`/v1/data/*`): **120 requests/minute**\n- **Compute** (`/v1/compute/*`): **120 requests/minute**\n- **Cheap compute** (BS, binomial, exposure, max pain, expected move): max **6 concurrent**\n- **Heavy compute** (MC, PDE, Heston, Local Vol, SABR, JD, VG, scenario, sensitivity): max **2 concurrent**\n- **Calibration**: max **1 concurrent** job (own lane, separate from compute pools) · hard-capped at **500/day** per user\n- Heavy compute endpoints may return **503** when worker capacity is unavailable\n- 429 responses include `X-RateLimit-Bucket` header (`data` or `compute`)\n\n## Broker credentials (BYOK)\n\nSome endpoints (calibration, full-mode probability, streaming) require live broker chain data. The API doesn't pay for market data; you supply your own credentials via request headers (the streaming endpoint takes them in its initial WebSocket auth message instead):\n\n- **TastyTrade**: `X-Broker-Type: tastytrade`, `X-Tastytrade-Refresh-Token`, `X-Tastytrade-Client-Secret`\n- **Tradier**: `X-Broker-Type: tradier`, `X-Tradier-Key`\n- **Schwab**: `X-Broker-Type: schwab`, `X-Schwab-Refresh-Token`, `X-Schwab-Client-Id`, `X-Schwab-Client-Secret` (calibration, full-mode probability, and streaming; streaming additionally requires a Schwab app approved for Accounts and Trading)\n\nNote: Public.com is **not supported on the API tier** (their Individual API program restricts third-party platforms). Public is available on the Pro webapp tier for in-browser use only.\n\n## Best practices (especially for LLM-driven agents)\n\n- **Calibrate once, then persist the fitted params — not the `calibrationId`.** `calibrationId` is a short-lived handle into a 30-second in-memory cache; it works for immediate follow-up `/price` and `/greeks` calls but is not durable. For reuse beyond 30s, save the fitted parameters from the calibration response and pass them as `modelParams` on subsequent calls. Either path avoids the 500/day calibration quota. Don't set `resolve.calibration: true` on every repeated call for the same symbol.\n- **Prefer `/v1/data/*` over recomputing.** Greeks history, IV surfaces, snapshot metrics, metrics-batch, scanner rankings, and regime classifications are precomputed or cached where available — typically much faster than recomputing from scratch. Don't loop `/v1/compute/greeks` to reconstruct what `/v1/data/greeks-history/:symbol` already returns.\n- **Use batch endpoints.** `/v1/data/metrics/batch` takes multiple symbols in one call; MultiAsset accepts `modelParams.tickers` for basket pricing. One batch call beats a loop of N single-symbol calls.\n- **Use canonical ticker symbols.** Symbols may contain letters, numbers, dot, dash, or slash (examples: `SPY`, `BRK.B`, `BRK-B`, `/ES`). Space-separated class shares such as `BRK B` are rejected; use dot or dash form instead.\n- **Use ticker auto-fill instead of fabricated numerics.** Pass `symbol` + `expiry` and let the API resolve `S`, `sigma`, `r`, `t` from cached market data — the response's `resolved` block shows which source filled each field (`snapshot`, `atmIv-expiry`, `hv-20d`, `fred-DGS3MO`, …). Don't hallucinate market values from training data.\n- **Always inspect `warnings` and `resolved`.** The compute route returns top-level `warnings` plus a `resolved` block whenever ticker auto-fill ran. Agents that ignore these can act on a price computed with a stale spot or a missing-dividend fallback.\n- **Honor `Retry-After` on 429.** Sleep the suggested duration. Retrying instantly in a tight loop wastes tokens and bounces off the same limit.\n- **Use `X-Cache-Status` to guide polling cadence.** Data responses include `X-Cache-Status`; values include `HIT`, `MISS`, `DEDUP`, `NO_REDIS`, and error/fallback statuses. If you see all HITs, you're polling faster than the underlying data updates — back off.\n- **Don't repoll faster than the underlying data updates.** Most `/v1/data/*` endpoints back tables that refresh on a documented daily cron. Repolling every 30s returns the same bytes.\n- **Stream live data over `/v1/ws`, don't poll REST.** Up to 30 msg/sec × 50 symbols × 5 sessions beats any REST polling loop on freshness and rpm budget.\n- **Match model to task.** Black-Scholes and Binomial are sub-100ms and correct for vanilla options. Reserve Heston/SABR/Local Vol/JD/MC for cases where skew, jumps, or path-dependence actually matter.\n- **Scope and secure keys.** Create compute-only, data-only, or streaming-only keys to limit blast radius. Never embed keys in client-side JS, browser extensions, public repos, or LLM tool manifests.",
    "contact": {
      "name": "Options Analysis Suite",
      "url": "https://optionsanalysissuite.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://optionsanalysissuite.com/legal/terms"
    }
  },
  "servers": [
    {
      "url": "https://data.optionsanalysissuite.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Compute",
      "description": "Pricing, Greeks, and analytics endpoints. Multi-model (17 pricing models: 10 standard — BS, Heston, SABR, FFT, VG, JD, Binomial, PDE, Monte Carlo, Local Vol — plus 7 exotic — Barrier, Asian, Lookback, Digital, Compound, Chooser, Multi-Asset). Auto-calibration available for Heston, SABR, VG, JD, and Local Vol against live broker chain data. Exotic models support the optional includeInsight flag for strategy-level comparison metrics."
    },
    {
      "name": "Data",
      "description": "Pre-computed market data: regime detection, IV surfaces, snapshots, metrics, scanner results, market trends. All endpoints read from the Options Analysis Suite data warehouse."
    },
    {
      "name": "Streaming",
      "description": "Real-time WebSocket streaming at `/v1/ws`. Supports quote, greeks, and exposure channels with BYOK broker credentials (TastyTrade, Tradier, Schwab; Schwab streaming requires an app approved for Accounts and Trading). See streaming documentation."
    },
    {
      "name": "Health",
      "description": "Unauthenticated health check endpoint for monitoring."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health.check",
        "summary": "Health check",
        "description": "Unauthenticated health probe. Returns current service status and uptime.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/price": {
      "post": {
        "operationId": "compute.price",
        "summary": "Multi-model option pricing",
        "description": "Price an option using one of 17 supported pricing models. For advanced models, pass model-specific parameters via `modelParams`, or use a `calibrationId` from `/v1/compute/calibrate` to reuse calibrated parameters.\n\n**Required tenor:** every request must specify a time-to-expiry. Provide either `t` (numeric years) **or** `expiry` / `expiration` (YYYY-MM-DD). Missing both returns a `400` validation error.\n\n**Ticker auto-fill:** supply `symbol: \"AAPL\"` (plus `expiry: \"YYYY-MM-DD\"` since tenor is mandatory) to let the API fill `S`, `sigma`, `q`, `r`, and `t` from cached market data. User-supplied numeric fields always win; the response `resolved` block reports the effective value + source (`override`, `snapshot`, `atmIv-expiry`, `hv-20d`, `ratios_ttm`, `profile_yield`, `fred-DGS3MO`, etc.). For MultiAsset, supply `modelParams.tickers: [\"SPY\",\"QQQ\",...]` to build the basket from 5y monthly correlations. Requires both `compute` and `data` scopes on the API key. Set `resolve.calibration: true` (Heston/SABR/VG/JD/LocalVol only) to additionally run auto-calibration under the existing calibration quota — broker headers (`X-Broker-Type`, `X-Tradier-Key`, …) are required for this mode.\n\n**modelParams by model:**\n\n- **heston:** `v0` / `initialVariance` / `hestonV0`, `kappa` / `hestonKappa`, `theta` / `hestonTheta`, `volOfVol` / `sigmaV` / `hestonXi` / `xi` / `hestonVolOfVol` (legacy alias: `sigma`), `rho` / `hestonRho`, `integrationPoints` (legacy alias: `hestonOrder`). Every spelling listed here is accepted identically on `/price`, `/greeks` and `/sensitivity`. Omitted parameters take these defaults, which materially affect the price: `v0` = `sigma^2`, `theta` = `sigma^2`, `kappa` = 2.0, `volOfVol` = 0.3, `rho` = -0.7, `integrationPoints` = 16. Supply them explicitly (or via a calibration) rather than relying on the defaults. Domain rules, applied identically on `/price`, `/greeks` and `/sensitivity` and rejected with a 422 `INVALID_HESTON_PARAMS`: `v0 >= 0`, `theta >= 0` (both are variances), `kappa > 0` (a mean-reversion speed), `volOfVol >= 0`, and `-1 < rho < 1` strictly. Every one of these parameters must be a number or a numeric string; booleans, arrays and objects are rejected with a 422 `INVALID_MODEL_PARAM` rather than coerced. `integrationPoints` is the exception to the last rule only in range: a value outside 8..128 is clamped into it rather than rejected. Where a canonical spelling and a legacy alias are both supplied, the canonical one wins (`volOfVol` over `sigma`, `integrationPoints` over `hestonOrder`). On `/v1/compute/greeks`, the volatility Greeks (`vega`, `vomma`, `vanna`, `veta`, `zomma`, `ultima`, `dcharmDvol`) are taken with respect to the model`s own instantaneous volatility `sqrt(v0)`, not the request `sigma`. With `v0` omitted the two coincide, since `v0` then defaults to `sigma^2`. Note that `sigma` stops influencing the Heston price only once BOTH `v0` and `theta` are supplied - supplying `v0` alone leaves `theta` defaulting to `sigma^2`, so `sigma` still moves the price through the long-run variance (with `v0` = 0.09 and `theta` omitted, `sigma` of 0.1 / 0.2 / 0.4 prices 9.4410 / 10.8481 / 15.0780).\n- **sabr:** `sabrAlpha` / `alpha`, `sabrBeta` / `beta`, `sabrRho` / `rho`, `sabrNu` / `nu`, `approximationMethod` (hagan | obloj | paulot, default hagan), `shift`, `expansionOrder`, `useSmallTimeCorrection`, `fixBeta`, `fixedBetaValue`, `atmReference`, `volFloor`, `useArbitrageChecks`\n- **fft:** `processType` (blackScholes | merton | varianceGamma | heston | kou | bates), `N`, `alpha`, `eta`, `integrationMethod` (legacy aliases: `fftGridSize`, `fftAlpha`, `fftEta`, `fftIntegrationMethod`). Process-specific params match the webapp: Merton `mertonLambda`, `mertonMuJ`, `mertonSigmaJ`; Variance Gamma `vgSigma`, `vgNu`, `vgTheta`; Heston `hestonV0`, `hestonKappa`, `hestonTheta`, `hestonXi`, `hestonRho`; Kou `kouLambda`, `kouP`, `kouEta1`, `kouEta2`; Bates `batesV0`, `batesKappa`, `batesTheta`, `batesSigmaV`, `batesRho`, `batesLambda`, `batesMuJ`, `batesSigmaJ`\n- **vg:** `sigma` / `vgSigma`, `nu` / `vgNu`, `theta` / `vgTheta`, optional `method`, `fftPoints`, `alpha`, `eta`, `cacheFFT`, `weighting`\n- **jd:** `modelType` / `jdModel` (kou | merton | bates, default kou; any other value is rejected with a 422 rather than falling back to kou). Merton/Kou accept `baseVolatility` as the diffusion sigma override. Kou: `lambda`, `pUp`, `etaUp`, `etaDown`, optional `tailTolerance` / `tailTol`, `maxK`, `forceFFT`, `fftGridSize`. Merton: `lambda`, `muJ`, `sigmaJ`, optional `maxPoisson`. Bates: `v0`, `kappa`, `theta`, `sigmaV` / `volOfVol` / `xi`, `rho`, `lambda`, `muJ`, `sigmaJ`, optional `forceExactCF`, `fftGridSize`. Jump defaults when omitted: `lambda` = 0.1, `muJ` = -0.05, `sigmaJ` = 0.15, `pUp` = 0.5, `etaUp` = `etaDown` = 10, `maxK` = 30.\n- **binomial:** `steps`, `enableAmerican` / `isAmerican`, `treeType` (CRR | JR | LR, default LR), optional Richardson controls `useRichardsonExtrap`, `richardsonMode`, `stepMultiplier`, `extrapOrder`, and discrete-dividend inputs either as `dividends` array or the webapp-style `useDiscreteDividends`, `exDividendDates`, `dividendAmounts`. The public API uses the ex-date discrete-dividend model. `steps` and `enableAmerican` / `isAmerican` are also accepted as top-level request fields; where both are supplied the `modelParams` spelling wins, because the generated SDKs populate the top-level pair with their own defaults even when the caller never set them. `treeType` selects the lattice construction: `CRR` is Cox-Ross-Rubinstein; `JR` keeps equal-magnitude CRR up/down factors (`u·d = 1`) and puts drift into the risk-neutral probability (this is NOT the equal-probability Jarrow-Rudd 1983 tree, which puts drift into `u`/`d` with `p = 1/2` and breaks finite-difference cross-Greeks because `u·d ≠ 1`); `LR` is Leisen-Reimer with Peizer-Pratt inversion method 2, is the DEFAULT when `treeType` is omitted, and rounds an even `steps` UP to the next odd count, except at the public 2000-step ceiling where up is unavailable so it rounds DOWN to 1999 (same rule the engine applies at its own higher MAX_BINOMIAL_STEPS). `exDividendDates` entries may be given in YEARS or in DAYS to the ex-date, and a bare number cannot say which - `2.5` on a 3-year option is a legitimate 2.5 days and a legitimate 2.5 years, and the two price differently. Set `dividendTimeUnit` (alias `exDividendTimeUnit`) to `days` or `years` to say which; any other value is rejected with a 422. When it is omitted the legacy rule applies unchanged: entries greater than 2 are read as DAYS, entries of 2 or less as YEARS. Under either reading, an entry that falls after expiry is dropped because it cannot affect the price. Greek accuracy, on the default `LR`: `delta`, `vega`, `rho`, `vanna`, `vomma` and `ultima` match Black-Scholes to better than 0.05% at the money, and `theta`, `charm`, `veta` and `dcharmDvol` to better than 0.15%. `gamma` converges from 1.13% at 50 steps to 0.04% at 1600. `speed`, `zomma` and `color` are the loosest, measured 28.4%, 6.7% and 7.0% at 50 steps, 7.7%, 1.5% and 1.6% at the default 200, and 0.96%, -0.02% and 0.01% at 1600; raise `steps` when the third-order Greeks matter. Away from the money the worst of the seventeen at 200 steps is `zomma` at 20.4%, then `speed` at 9.2% and `color` at 8.9%, with everything else inside 1.2%. Accuracy degrades at low volatility, where these Greeks are also small in absolute terms.\n\n  **`CRR` publishes accurate prices and first-order Greeks, but its higher-order Greeks are only meaningful when `S = K`.** Cox-Ross-Rubinstein centres its lattice on SPOT with `u·d = 1`, so a node lands on the strike only at the money; anywhere else, each bumped reprice moves the payoff kink between nodes and the finite differences measure that motion rather than the option. In practice the CRR cross-Greeks return approximately the at-the-money value at every spot - at K=100, sigma=0.2, 200 steps, `vanna` reads about -0.095 whether the true value is +1.43 (S=80) or -0.96 (S=120). Worst-case error over S in {80, 90, 110, 120}: `vanna` 110%, `charm` 145%, `vomma` 212%, `veta` 55%, `speed` 23%, `zomma` 148%, `ultima` 200%, `dcharmDvol` 218%. This is structural rather than a resolution limit - the same errors appear at 800 steps - and it begins immediately, at 18% for `vanna` by 0.2% moneyness and 50% by 1%, so there is no tolerance band inside which CRR higher-order Greeks can be trusted off the money. `CRR` price, `delta`, `gamma`, `vega`, `theta`, `rho`, `epsilon`, `phi` and `lambda` are unaffected and remain accurate. Use the default `LR` for any Greek above first order; `CRR` is retained because it is the canonical textbook construction that callers cross-check against. `JR` shares the same `u·d = 1` geometry as `CRR` and therefore the same limitation.\n- **pde:** `forceMethod` / `pdeForceMethod` (`analytical` | `pde` | `pde-with-fallback`, normalized case-insensitively; unsupported values return 422), `accuracyThreshold` / `pdeAccuracyThreshold` (non-negative; malformed or negative values return 422), plus grid controls `spaceSteps`, `timeSteps`, `sMin`, `sMax`, `gridSpacing`, `rannacherSteps`\n- **mc:** `paths` / `mcPaths` / `nPaths`, `steps` / `stepsPerPath` / `timeSteps` / `nSteps`, `seed` / `mcSeed`, `process` / `processType` (`blackscholes` | `jumpdiffusion` | `meanreverting` | `heston` | `localvolcev` | `localvoldupire`; aliases such as `BlackScholes`, `Merton`, `LocalVolatility`, `Dupire`, and `CEV` are normalized), top-level process params or nested `processParams`, `useAntithetic`, `useControlVariate`, `useImportanceSampling`, `useMomentMatching`, `useQMC`, `qmcType` (`sobol` | `halton`; other values return 422 `INVALID_MODEL_PARAM`). `processType`, `qmcType`, and `rngMethod` must be strings when supplied; arrays, booleans, and objects return 422 rather than being string-coerced. `rngMethod: SobolTrue` is normalized to Sobol QMC; non-QMC browser RNG labels fall back to the standard server RNG path. Monte Carlo pricing in the API is European-only. Browser-only execution flags such as `useGPU`, `batchSize`, and `parallelThreads` are ignored server-side. Nested `processParams` may supply process-specific fields but cannot override the validated request coordinates `S`, `r`, `q`, `sigma`, or `T`. QMC dimension is the path step count: Sobol supports at most 40 `nSteps` and Halton at most 10. A larger value (including the 252-step non-GBM default when `nSteps` is omitted) returns a 422 `INVALID_MODEL_PARAM` rather than silently running the pseudo-random path or surfacing a generator error.\n\n  `seed` / `mcSeed` is validated rather than coerced: it must be an integer with `|seed| < 2^52` and must not be 0. Zero is rejected because the engine builds its generator with `seed || Date.now()`, so a zero seed silently becomes the wall clock - and on `/v1/compute/greeks` the seed is reused across every bumped evaluation to give common random numbers, so a wall-clock seed would make each bump draw a different stream and the Greeks would measure Monte Carlo noise rather than the bump. Fractional, out-of-range, non-numeric and array/boolean/object values return a `422` with `code: \"INVALID_MODEL_PARAM\"`; a numeric string is accepted only when it spells a plain integer (`\"1337\"` yes, `\"1.5\"` no). On the standard pseudo-random path the generator reduces the seed to 32 bits, so seeds differing by a multiple of 2^32 are the same seed. That equivalence does NOT extend to the QMC paths (`useQMC` with Sobol or Halton): those initializers scale the raw seed before reducing it, and above 2^53 / 1664525 the multiply loses precision, so two seeds a multiple of 2^32 apart diverge - seeds 1 and 1 + 1000x2^32 price 10.6572 vs 10.4724 under Sobol and 10.5099 vs 11.4230 under Halton, against an identical 9.0366 on the standard path. Repeating the same seed is deterministic on every path, and on every supported `processType`. With a valid seed, repeating a request returns the identical price.\n  Two of the six processes carry their own instantaneous-volatility input: `heston` reads `v0` (the instantaneous variance, aliased `hestonV0`; where both spellings are present `hestonV0` wins, matching the process itself) and `meanreverting` reads `meanRevertSigma`. Either may be a number or a non-blank numeric string; accepted strings are normalized before pricing so `/price` and `/greeks` use the same value. Supplied non-numeric, blank, or negative values return a 422 `INVALID_MODEL_PARAM` on both endpoints rather than being quietly replaced. Heston permits the valid boundary `v0 = 0`; mean-reverting requires `meanRevertSigma > 0` because its engine treats zero as omission. A request-level `sigma = 0` is likewise preserved rather than defaulted to 0.2, and omitted Heston `v0` / `theta` then derive as zero. Explicit Heston `theta = 0` and `sigmaV = 0` are also preserved rather than replaced by their defaults.\n  On `/v1/compute/greeks`, the volatility Greeks (`vega`, `vanna`, `vomma`, `veta`, `zomma`, `ultima`, `dcharmDvol`) are differentiated with respect to whichever state the process actually reads: `sqrt(v0)` for Heston (matching the semi-analytic `heston` model), `meanRevertSigma` for mean-reverting, and the request `sigma` for every other process. With explicit Heston `v0`, only that state moves and request `sigma` stays fixed, so an omitted long-run variance `theta` remains at the value `/price` derived from request `sigma`. With `v0` omitted, the stencil rewrites its implicit `v0 = sigma^2`; an implicit `theta = sigma^2` moves with it, preserving the pre-existing derivative coordinate. The scaled step keeps ordinary positive values in range. At `v0 = 0`, and at request `sigma = 0` for the five generic-volatility processes, the centered stencil uses the even continuation in volatility rather than sending a negative magnitude to the engine. A positive value so small that the second- or third-order finite-difference denominator underflows can still be priced, but `/greeks` returns a 422 `INVALID_MODEL_PARAM` instead of publishing sanitized zero derivatives.\n- **localvol:** PDE-only public surface. Supported params: `impliedVolData` (array or JSON string), `impliedVolDataArray`, `useDupire`, `useAmerican`, `interpolation` (essvi | linear | svi | dupire; cubic is no longer supported), `spotSteps` / `pdeGridSize`, `timeSteps` / `pdeTimeSteps`, `rannacherSteps`, `regularizationParam`, `localVolBeta` / `beta` / `cevBeta`, `cevScale`, `minVol` / `dupireMinVol`, `maxVol` / `dupireMaxVol`, `ticker`\n- **barrier:** `barrierType` (up-out | down-out | up-in | down-in | double-out | double-in), `barrierLevel`, `rebate`, `monitoringType` (continuous | discrete | window), `monitoringFreq`, `upperBarrier`, `lowerBarrier`, `upperRebate`, `lowerRebate`, `windowStart`, `windowEnd`\n- **asian:** `averagingType` (arithmetic | geometric), `strikeType` (fixed | floating), `method` (curran | geometric; `mc`/`montecarlo` requests are normalized to curran server-side), `numObservations` (omitted and zero use the pricer's `floor(252 * t)` default - `ASIAN_DEFAULTS` carries `0`, so zero does not mean \"one fixing\"; positive values truncate toward zero, a result below 1 retains the zero/default behavior, and the effective count clamps to 1..2048; negative, non-finite, empty, boolean, array and object values return 422 `INVALID_MODEL_PARAM`), `observationFreq`, `observationDates` (array or JSON-encoded array of future times to each fixing in years from the valuation time; it must contain at least one date, and dates must be finite, positive, strictly increasing and no later than `t`; malformed/non-array/empty values, violations of those rules, and schedules over 2048 entries return 422 rather than silently using or truncating the generated schedule. On `/greeks`, elapsed finite-difference time is subtracted from every date, explicit or derived, preserving the calendar spacing; the step is shortened when needed so it cannot pass the first fixing. An omitted schedule is materialized once at the requested tenor and then shifted the same way, so the time Greeks measure the decay of the position held rather than a family of contracts re-specified at each bumped tenor; this can change time Greeks materially compared with the old rescaled-schedule behavior. `observationDates` now also applies to `averagingType: \"arithmetic\"`, which previously derived its schedule from `(t, numObservations)` alone and ignored the parameter; where a schedule is supplied its length defines the future fixing count, matching the geometric path), `pastFixings`, `runningAverage`, `runningSum`, `fixingsElapsed`. `fixingDates` and `observations` are accepted aliases for the observation COUNT, not for a schedule; passing an array to either returns 422\n- **lookback:** `lookbackType` (floating | fixed), `currentMax`, `currentMin`, `monitoringType` / `monitoring`, `monitoringFrequency`, `method`\n- **digital:** `type` / `digitalType` — accepts either short form (`cash` | `asset` | `gap`) or long form (`cash-or-nothing` | `asset-or-nothing` | `gap`); both are equivalent server-side. Also `cashAmount`, `gapAmount`, `smoothing` (clamped server-side to a minimum of 1e-4), `method`\n- **compound:** `compoundType` (call-on-call | call-on-put | put-on-call | put-on-put), `underlyingStrike`, `firstExpiry`, `secondExpiry` (defaults to request `t`), `method`, `mcPaths`, `mcSeed`, `useAntithetic`, `useControlVariate`. Requires 0 < `firstExpiry` < `secondExpiry`; violations are rejected with a 422 on both `/price` and `/greeks`. A supplied `mcPaths` is clamped to 2..1000000; when it is omitted the pricer applies its own default of **10000** paths, so omitting it is not the same as sending 100000. The lower bound is 2 rather than 1 because the antithetic path pairs `floor(mcPaths / 2)` draws, and a single path yields none. `mcSeed` does not clamp: it must be an integer with `|mcSeed| < 2^52` and must not be 0 (the pricer reads `mcSeed || Date.now()`, so a zero seed would silently become the wall clock). Fractional, out-of-range, non-numeric and array/boolean/object values are rejected with a 422. A numeric string is accepted only when it spells a plain integer: `\"1337\"` yes, `\"1.0000000000000001\"` no. Two limits worth knowing rather than discovering. First, the seed is reduced to 32 bits by the generator, so seeds differing by a multiple of 2^32 are the same seed. Second, a JSON number literal is rounded to a double by the parser before the API ever sees it, so a fraction finer than the double spacing at your magnitude is already gone and no server-side check can recover it - `1.0000000000000001` arrives as `1`. That is why seeds at or above 2^52 are refused outright (there the spacing reaches 1, so any fractional literal has already become an integer), and why the string form is the exact one at every magnitude.\n- **chooser:** `chooserType` (simple | complex; anything else is a 422), `choiceTime`, `maturity`, `callStrike`, `putStrike`, `callMaturity`, `putMaturity`, `method`, `mcPaths`, `rngSeed` / `seed` / `mcSeed`, `useAntithetic`, `useControlVariate`. `choiceTime` must be positive. A **simple** chooser additionally requires `maturity` > `choiceTime`; a **complex** chooser requires `callMaturity` > `choiceTime` and `putMaturity` > `choiceTime` (`maturity` only supplies their default). Violations are rejected with a 422 on both `/price` and `/greeks`. A supplied `mcPaths` is clamped to 2..1000000, but note the effective floor is higher: the chooser pricer runs `max(mcPaths, 20000)` paths, so any value below 20000 - including the 10000 it defaults to when omitted - executes at 20000. Monte Carlo pricing is deterministic: `rngSeed` (also accepted as `seed` or `mcSeed`) defaults to 1337, and repeating a request returns the same price. It must be an integer with `|seed| < 2^52`; fractional, non-numeric, and array/boolean/object values return a 422, and a numeric string is accepted only when it spells a plain integer (`\"1337\"` yes, `\"1.5\"` no). Unlike `mc`, `compound` and `multiasset`, a seed of **0 is accepted** here: this engine tests for `undefined`/`null` rather than falsiness and its Mulberry32 generator adds a constant before first use, so state 0 is a working stream rather than a silent fallback to the wall clock. The generator reduces the seed with `seed >>> 0`, so seeds differing by a multiple of 2^32 are the same seed. On `/v1/compute/greeks` the seed is reused across every bumped evaluation and the same resolved seed is used by the optional insight repricer, so both remain deterministic and the Greeks measure the bump rather than sampling noise.\n- **multiasset:** `payoffType` / `type` / `multiAssetType` (basket | spread | max | min), `numAssets`, `correlation`, `corrMatrix` / `correlationMatrix`, `prices[]`, `volatilities[]`, `dividends[]`, `weights[]`, `method`, `mcPaths`, `seed`, `useAntithetic`, `useControlVariate`, `useSobol`. If `prices[]` is omitted, the request spot `S` is used as the first asset price. Monte Carlo pricing is deterministic: `seed` defaults to 1337, and repeating a request returns the same price. `seed` must be an integer whose unsigned 32-bit value is non-zero - the generator is seeded with `seed >>> 0`, so 0 and any multiple of 2^32 are rejected with a 422, as are non-integer, non-numeric, and out-of-range values at or above 2^52. A numeric string is accepted only when it spells a plain integer: `\"1337\"` yes, `\"1.0000000000000001\"` no. One limit no server-side check can close: a JSON number literal is rounded to a double by the parser before it reaches the API, so a fraction finer than the double spacing at your magnitude is already gone - `1.0000000000000001` arrives as `1`. That is why the 2^52 bound exists (at and above it the spacing reaches 1, so a fractional literal has already become an integer) and why the string form is the exact one at every magnitude. The remaining numeric knobs do normalize rather than reject: `mcPaths` is clamped to 1..1000000 and defaults to 100000. `numAssets` resolves to the LARGEST of the explicit value (truncated toward zero, or 2 when omitted) and the lengths of any supplied `prices[]` / `volatilities[]` / `dividends[]` / `weights[]`, capped at 32 - so `numAssets: 2` with three prices resolves to three assets, and an omitted count with a single price still resolves to two. Each of those arrays is then padded or truncated to the resolved count using the request `S` / `sigma` / `q` and equal weights.",
        "tags": [
          "Compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceRequest"
              },
              "examples": {
                "bs": {
                  "summary": "Black-Scholes call option",
                  "value": {
                    "model": "bs",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1
                  }
                },
                "mc": {
                  "summary": "Monte Carlo (100K paths, seeded)",
                  "value": {
                    "model": "mc",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "paths": 100000,
                      "seed": 42,
                      "process": "BlackScholes"
                    }
                  }
                },
                "heston": {
                  "summary": "Heston stochastic volatility",
                  "value": {
                    "model": "heston",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "v0": 0.04,
                      "kappa": 2,
                      "theta": 0.04,
                      "volOfVol": 0.3,
                      "rho": -0.7,
                      "integrationPoints": 16
                    }
                  }
                },
                "fftHeston": {
                  "summary": "FFT Carr-Madan with Heston process",
                  "value": {
                    "model": "fft",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "processType": "heston",
                      "N": 4096,
                      "alpha": 1.5,
                      "eta": 0.25,
                      "hestonV0": 0.04,
                      "hestonKappa": 2,
                      "hestonTheta": 0.04,
                      "hestonXi": 0.3,
                      "hestonRho": -0.7
                    }
                  }
                },
                "fftHighRes": {
                  "summary": "FFT with high-resolution grid (8192 points)",
                  "value": {
                    "model": "fft",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "processType": "blackScholes",
                      "N": 8192,
                      "alpha": 1.5,
                      "eta": 0.25
                    }
                  }
                },
                "jdMerton": {
                  "summary": "Merton jump diffusion",
                  "value": {
                    "model": "jd",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "modelType": "merton",
                      "lambda": 0.1,
                      "muJ": -0.05,
                      "sigmaJ": 0.15,
                      "maxPoisson": 50
                    }
                  }
                },
                "jdKou": {
                  "summary": "Kou double-exponential jump diffusion",
                  "value": {
                    "model": "jd",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "modelType": "kou",
                      "lambda": 0.5,
                      "pUp": 0.4,
                      "etaUp": 10,
                      "etaDown": 10,
                      "tailTolerance": 1e-12
                    }
                  }
                },
                "binomialAmerican": {
                  "summary": "Binomial tree (American put, 500 steps)",
                  "value": {
                    "model": "binomial",
                    "isCall": false,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.02,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "steps": 500,
                      "enableAmerican": true
                    }
                  }
                },
                "localvol": {
                  "summary": "Local Volatility with calibration ID",
                  "value": {
                    "model": "localvol",
                    "isCall": true,
                    "S": 555,
                    "K": 560,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 0.0833,
                    "calibrationId": "cal_abc123xyz"
                  }
                },
                "barrier": {
                  "summary": "Barrier option (up-and-out call)",
                  "value": {
                    "model": "barrier",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "barrierType": "up-out",
                      "barrierLevel": 110,
                      "rebate": 0,
                      "monitoringType": "continuous"
                    }
                  }
                },
                "asian": {
                  "summary": "Asian option (Curran arithmetic average)",
                  "value": {
                    "model": "asian",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "averagingType": "arithmetic",
                      "strikeType": "fixed",
                      "method": "curran",
                      "numObservations": 252
                    }
                  }
                },
                "lookback": {
                  "summary": "Lookback option (floating strike)",
                  "value": {
                    "model": "lookback",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "lookbackType": "floating",
                      "currentMin": 92,
                      "monitoringType": "discrete",
                      "monitoringFrequency": 252
                    }
                  }
                },
                "digital": {
                  "summary": "Digital cash-or-nothing call (long-form enum)",
                  "value": {
                    "model": "digital",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "type": "cash-or-nothing",
                      "cashAmount": 1,
                      "smoothing": 0.0005
                    }
                  }
                },
                "compound": {
                  "summary": "Compound option (call on call)",
                  "value": {
                    "model": "compound",
                    "isCall": true,
                    "S": 100,
                    "K": 10,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 0.25,
                    "modelParams": {
                      "compoundType": "call-on-call",
                      "underlyingStrike": 100,
                      "firstExpiry": 0.25,
                      "secondExpiry": 1,
                      "method": "analytical"
                    }
                  }
                },
                "chooser": {
                  "summary": "Chooser option (simple chooser)",
                  "value": {
                    "model": "chooser",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 0.25,
                    "modelParams": {
                      "chooserType": "simple",
                      "choiceTime": 0.25,
                      "maturity": 1,
                      "method": "analytical"
                    }
                  }
                },
                "multiasset": {
                  "summary": "Multi-asset basket option",
                  "value": {
                    "model": "multiasset",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "payoffType": "basket",
                      "numAssets": 2,
                      "prices": [
                        100,
                        95
                      ],
                      "volatilities": [
                        0.2,
                        0.25
                      ],
                      "dividends": [
                        0.01,
                        0.015
                      ],
                      "weights": [
                        0.5,
                        0.5
                      ],
                      "correlation": 0.3,
                      "method": "analytical",
                      "mcPaths": 25000,
                      "seed": 42
                    }
                  }
                },
                "bsFromTicker": {
                  "summary": "Black-Scholes from ticker (auto-fill S/σ/q/r/t)",
                  "value": {
                    "model": "bs",
                    "isCall": true,
                    "K": 180,
                    "symbol": "AAPL",
                    "expiry": "2027-06-18"
                  }
                },
                "hestonFromTicker": {
                  "summary": "Heston from ticker (auto-calibration, requires broker headers)",
                  "value": {
                    "model": "heston",
                    "isCall": true,
                    "K": 180,
                    "symbol": "AAPL",
                    "expiry": "2027-06-18",
                    "resolve": {
                      "calibration": true
                    }
                  }
                },
                "multiassetFromTickers": {
                  "summary": "Multi-asset basket from tickers (auto-fill prices/vols/divs/corr)",
                  "value": {
                    "model": "multiasset",
                    "isCall": true,
                    "K": 100,
                    "expiry": "2027-06-18",
                    "modelParams": {
                      "payoffType": "basket",
                      "tickers": [
                        "SPY",
                        "QQQ",
                        "IWM"
                      ],
                      "weights": [
                        0.4,
                        0.4,
                        0.2
                      ],
                      "method": "analytical"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Computed option price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceResponse"
                },
                "examples": {
                  "bs": {
                    "summary": "Black-Scholes response",
                    "value": {
                      "price": 10.4506,
                      "model": "black-scholes",
                      "inputs": {
                        "isCall": true,
                        "S": 100,
                        "K": 100,
                        "r": 0.05,
                        "q": 0,
                        "sigma": 0.2,
                        "t": 1
                      }
                    }
                  },
                  "mc": {
                    "summary": "Monte Carlo response (with mcStats)",
                    "value": {
                      "price": 10.4612,
                      "model": "monte-carlo",
                      "mcStats": {
                        "stdError": 0.0298,
                        "ciLow": 10.4028,
                        "ciHigh": 10.5196,
                        "nPaths": 200000
                      },
                      "inputs": {
                        "isCall": true,
                        "S": 100,
                        "K": 100,
                        "r": 0.05,
                        "q": 0,
                        "sigma": 0.2,
                        "t": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — validation failed or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScopeError"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            },
            "headers": {
              "Allow": {
                "description": "Allowed methods for this endpoint",
                "schema": {
                  "type": "string",
                  "example": "POST"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation failed after request parsing/resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or compute concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RateLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/ComputeConcurrencyLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/CalibrationQuotaError"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — worker pool draining or broker connection failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/greeks": {
      "post": {
        "operationId": "compute.greeks",
        "summary": "Multi-model Greeks",
        "description": "Compute all 17 Greeks for any of the 17 supported pricing models. Returns price alongside the full Greek vector. Accepts the same `modelParams` as `/v1/compute/price`, including ticker auto-fill (`symbol`, `expiry`, `modelParams.tickers`, `resolve.calibration`). For American-exercise Greeks on a dividend payer, use `model: \"binomial\"` with `isAmerican: true` and a discrete-dividend schedule - either `modelParams.dividends` (a list of `{ time: years-to-ex-date, amount: cash-per-share }`) or the webapp-style `useDiscreteDividends` / `exDividendDates` / `dividendAmounts` aliases - exactly as documented under `/v1/compute/price`. Set `includeInsight: true` to attach the Strategy-page exotic insight card for supported exotic models (Barrier, Asian, Lookback, Digital, Compound, Chooser, MultiAsset).\n\n**Required tenor:** every request must specify a time-to-expiry via either `t` (numeric years) or `expiry` / `expiration` (YYYY-MM-DD). Missing both returns a `400` validation error — the API never invents a tenor.",
        "tags": [
          "Compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GreeksRequest"
              },
              "examples": {
                "mc": {
                  "summary": "Monte Carlo (100K paths, seeded)",
                  "value": {
                    "model": "mc",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "paths": 100000,
                      "seed": 42,
                      "process": "BlackScholes"
                    }
                  }
                },
                "heston": {
                  "summary": "Heston stochastic volatility",
                  "value": {
                    "model": "heston",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "v0": 0.04,
                      "kappa": 2,
                      "theta": 0.04,
                      "volOfVol": 0.3,
                      "rho": -0.7,
                      "integrationPoints": 16
                    }
                  }
                },
                "barrier": {
                  "summary": "Barrier Greeks request",
                  "value": {
                    "model": "barrier",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "barrierType": "up-out",
                      "barrierLevel": 110,
                      "rebate": 0,
                      "monitoringType": "continuous"
                    }
                  }
                },
                "asian": {
                  "summary": "Asian Greeks request",
                  "value": {
                    "model": "asian",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "averagingType": "arithmetic",
                      "strikeType": "fixed",
                      "method": "curran",
                      "numObservations": 252
                    }
                  }
                },
                "lookback": {
                  "summary": "Lookback Greeks request",
                  "value": {
                    "model": "lookback",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "lookbackType": "floating",
                      "currentMin": 92,
                      "monitoringType": "discrete",
                      "monitoringFrequency": 252
                    }
                  }
                },
                "digital": {
                  "summary": "Digital Greeks request",
                  "value": {
                    "model": "digital",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "type": "cash",
                      "cashAmount": 1,
                      "smoothing": 0.0005
                    }
                  }
                },
                "compound": {
                  "summary": "Compound Greeks request",
                  "value": {
                    "model": "compound",
                    "isCall": true,
                    "S": 100,
                    "K": 10,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 0.25,
                    "modelParams": {
                      "compoundType": "call-on-call",
                      "underlyingStrike": 100,
                      "firstExpiry": 0.25,
                      "secondExpiry": 1,
                      "method": "analytical"
                    }
                  }
                },
                "chooser": {
                  "summary": "Chooser Greeks request",
                  "value": {
                    "model": "chooser",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 0.25,
                    "modelParams": {
                      "chooserType": "simple",
                      "choiceTime": 0.25,
                      "maturity": 1,
                      "method": "analytical"
                    }
                  }
                },
                "multiasset": {
                  "summary": "Multi-asset Greeks request",
                  "value": {
                    "model": "multiasset",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "modelParams": {
                      "payoffType": "basket",
                      "numAssets": 2,
                      "prices": [
                        100,
                        95
                      ],
                      "volatilities": [
                        0.2,
                        0.25
                      ],
                      "dividends": [
                        0.01,
                        0.015
                      ],
                      "weights": [
                        0.5,
                        0.5
                      ],
                      "correlation": 0.3,
                      "method": "analytical",
                      "mcPaths": 25000,
                      "seed": 42
                    }
                  }
                },
                "barrierInsight": {
                  "summary": "Barrier Greeks with insight card",
                  "value": {
                    "model": "barrier",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "includeInsight": true,
                    "modelParams": {
                      "barrierType": "up-out",
                      "barrierLevel": 110,
                      "rebate": 0,
                      "monitoringType": "continuous"
                    }
                  }
                },
                "asianInsight": {
                  "summary": "Asian Greeks with insight card",
                  "value": {
                    "model": "asian",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "includeInsight": true,
                    "modelParams": {
                      "averagingType": "arithmetic",
                      "strikeType": "fixed",
                      "method": "curran",
                      "numObservations": 252
                    }
                  }
                },
                "multiassetInsight": {
                  "summary": "Multi-asset Greeks with insight card",
                  "value": {
                    "model": "multiasset",
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0.01,
                    "sigma": 0.2,
                    "t": 1,
                    "includeInsight": true,
                    "modelParams": {
                      "payoffType": "basket",
                      "numAssets": 2,
                      "prices": [
                        100,
                        95
                      ],
                      "volatilities": [
                        0.2,
                        0.25
                      ],
                      "dividends": [
                        0.01,
                        0.015
                      ],
                      "weights": [
                        0.5,
                        0.5
                      ],
                      "correlation": 0.3,
                      "method": "analytical",
                      "mcPaths": 25000,
                      "seed": 42
                    }
                  }
                },
                "bsFromTicker": {
                  "summary": "Black-Scholes from ticker (auto-fill S/σ/q/r/t)",
                  "value": {
                    "model": "bs",
                    "isCall": true,
                    "K": 180,
                    "symbol": "AAPL",
                    "expiry": "2027-06-18"
                  }
                },
                "hestonFromTicker": {
                  "summary": "Heston from ticker (auto-calibration, requires broker headers)",
                  "value": {
                    "model": "heston",
                    "isCall": true,
                    "K": 180,
                    "symbol": "AAPL",
                    "expiry": "2027-06-18",
                    "resolve": {
                      "calibration": true
                    }
                  }
                },
                "multiassetFromTickers": {
                  "summary": "Multi-asset basket from tickers (auto-fill prices/vols/divs/corr)",
                  "value": {
                    "model": "multiasset",
                    "isCall": true,
                    "K": 100,
                    "expiry": "2027-06-18",
                    "modelParams": {
                      "payoffType": "basket",
                      "tickers": [
                        "SPY",
                        "QQQ",
                        "IWM"
                      ],
                      "weights": [
                        0.4,
                        0.4,
                        0.2
                      ],
                      "method": "analytical"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Greeks computed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GreeksResponse"
                },
                "examples": {
                  "mc": {
                    "summary": "Monte Carlo Greeks (100K paths)",
                    "value": {
                      "model": "monte-carlo",
                      "price": 10.4506,
                      "delta": 0.6368,
                      "gamma": 0.0188,
                      "vega": 0.3752,
                      "theta": -0.0176,
                      "rho": 0.5323,
                      "inputs": {
                        "isCall": true,
                        "S": 100,
                        "K": 100,
                        "r": 0.05,
                        "q": 0,
                        "sigma": 0.2,
                        "t": 1
                      }
                    }
                  },
                  "barrierInsight": {
                    "summary": "Barrier Greeks with insight card",
                    "value": {
                      "model": "barrier",
                      "price": 0.1179,
                      "delta": -0.0102,
                      "gamma": -0.0006,
                      "vega": 0.0028,
                      "theta": -0.0025,
                      "rho": 0.0006,
                      "epsilon": -0.0102,
                      "vanna": 0.1269,
                      "charm": 0.0266,
                      "vomma": 0.0562,
                      "veta": 0.0012,
                      "speed": 0.0006,
                      "zomma": 0.0697,
                      "color": -0.0001,
                      "ultima": -1.2682,
                      "dcharmDvol": 0.9178,
                      "lambda": -8.6499,
                      "phi": 0.0005,
                      "exoticInsight": {
                        "model": "Barrier",
                        "title": "Stop-Loss Level Comparison",
                        "subtitle": "Where should I set my stop-loss?",
                        "accentColor": "#F59E0B",
                        "metrics": [
                          {
                            "label": "Vanilla Price",
                            "value": "$9.83",
                            "rawValue": 9.8263
                          },
                          {
                            "label": "Current ($110.00)",
                            "value": "$0.12",
                            "rawValue": 0.1179,
                            "highlight": true
                          },
                          {
                            "label": "Tighter ($105.00)",
                            "value": "$0.01",
                            "rawValue": 0.0088
                          },
                          {
                            "label": "Wider ($115.00)",
                            "value": "$0.48",
                            "rawValue": 0.4758
                          },
                          {
                            "label": "Protection Cost",
                            "value": "+$9.71",
                            "rawValue": 9.7084
                          },
                          {
                            "label": "Cost to Tighten 5%",
                            "value": "+$0.11",
                            "rawValue": 0.1091
                          }
                        ],
                        "verdict": "Stop at $110.00 costs $9.71. Tightening 5% adds $0.11",
                        "verdictType": "neutral"
                      },
                      "inputs": {
                        "isCall": true,
                        "S": 100,
                        "K": 100,
                        "r": 0.05,
                        "q": 0,
                        "sigma": 0.2,
                        "t": 1
                      }
                    }
                  },
                  "asianInsight": {
                    "summary": "Asian Greeks with DCA insight",
                    "value": {
                      "model": "asian",
                      "price": 5.4172,
                      "delta": 0.5523,
                      "gamma": 0.0198,
                      "vega": 0.3221,
                      "theta": -0.0122,
                      "rho": 0.4013,
                      "epsilon": -0.5523,
                      "vanna": 0.0078,
                      "charm": -0.0341,
                      "vomma": 0.8921,
                      "veta": -0.0273,
                      "speed": -0.0007,
                      "zomma": -0.0411,
                      "color": -0.0005,
                      "ultima": 0.3112,
                      "dcharmDvol": -0.0204,
                      "lambda": 10.1942,
                      "phi": 0.9536,
                      "exoticInsight": {
                        "model": "Asian",
                        "title": "DCA Advantage",
                        "subtitle": "Should I DCA or lump sum? Should I keep rolling covered calls?",
                        "accentColor": "#0EA5E9",
                        "metrics": [
                          {
                            "label": "Lump Sum Cost",
                            "value": "$8.43",
                            "rawValue": 8.43
                          },
                          {
                            "label": "DCA / Avg Cost",
                            "value": "$5.42",
                            "rawValue": 5.4172
                          },
                          {
                            "label": "Averaging Benefit",
                            "value": "+$3.01",
                            "rawValue": 3.0128,
                            "highlight": true
                          },
                          {
                            "label": "Cost Reduction",
                            "value": "+35.7%",
                            "rawValue": 35.7
                          }
                        ],
                        "verdict": "Averaging saves $3.01 (35.7%) vs lump sum entry.",
                        "verdictType": "positive"
                      },
                      "inputs": {
                        "isCall": true,
                        "S": 100,
                        "K": 100,
                        "r": 0.05,
                        "q": 0,
                        "sigma": 0.2,
                        "t": 1
                      }
                    }
                  },
                  "multiassetInsight": {
                    "summary": "Multi-asset Greeks with correlation insight",
                    "value": {
                      "model": "multi-asset",
                      "price": 7.9184,
                      "delta": 0.4419,
                      "gamma": 0.0162,
                      "vega": 0.2874,
                      "theta": -0.0108,
                      "rho": 0.3661,
                      "epsilon": -0.4419,
                      "vanna": 0.0129,
                      "charm": -0.0314,
                      "vomma": 0.7126,
                      "veta": -0.0231,
                      "speed": -0.0008,
                      "zomma": -0.0483,
                      "color": -0.0006,
                      "ultima": 0.2844,
                      "dcharmDvol": -0.0218,
                      "lambda": 5.5801,
                      "phi": 0.808,
                      "exoticInsight": {
                        "model": "MultiAsset",
                        "title": "Correlation & Hedge Analysis",
                        "subtitle": "How does correlation affect value? What if correlation changes?",
                        "accentColor": "#14B8A6",
                        "metrics": [
                          {
                            "label": "Current Price",
                            "value": "$7.92",
                            "rawValue": 7.9184
                          },
                          {
                            "label": "Zero-Corr Price",
                            "value": "$6.84",
                            "rawValue": 6.84
                          },
                          {
                            "label": "Correlation Effect",
                            "value": "+$1.08",
                            "rawValue": 1.0784,
                            "highlight": true
                          },
                          {
                            "label": "Correlation",
                            "value": "0.30",
                            "rawValue": 0.3
                          },
                          {
                            "label": "If Corr 0.10",
                            "value": "$7.12",
                            "rawValue": 7.12
                          },
                          {
                            "label": "If Corr 0.50",
                            "value": "$8.64",
                            "rawValue": 8.64
                          }
                        ],
                        "verdict": "Correlation increases value by $1.08 (15.8%).",
                        "verdictType": "neutral"
                      },
                      "inputs": {
                        "isCall": true,
                        "S": 100,
                        "K": 100,
                        "r": 0.05,
                        "q": 0,
                        "sigma": 0.2,
                        "t": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — validation failed or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScopeError"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            },
            "headers": {
              "Allow": {
                "description": "Allowed methods for this endpoint",
                "schema": {
                  "type": "string",
                  "example": "POST"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation failed after request parsing/resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or compute concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RateLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/ComputeConcurrencyLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/CalibrationQuotaError"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — worker pool draining or broker connection failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/exposure": {
      "post": {
        "operationId": "compute.exposure",
        "summary": "Greek exposure snapshot (GEX/DEX/VEX/Vanna/Charm/Vomma)",
        "description": "Compute full Greek exposure from a strike list: net gamma/delta/vega/vanna/charm/vomma, call/put walls, gamma flip, abs gamma anchor, dealer positioning regime, and per-strike top contributors. Default response is the full result `{ snapshot, byStrike }`; pass `?detail=snapshot` to receive only the compact `ExposureSnapshot` directly.",
        "tags": [
          "Compute"
        ],
        "parameters": [
          {
            "name": "detail",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "snapshot"
              ]
            },
            "description": "Omit (default) for the full `{ snapshot, byStrike }` result; pass `snapshot` to receive only the compact ExposureSnapshot."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExposureRequest"
              },
              "examples": {
                "example": {
                  "summary": "GEX/DEX exposure snapshot",
                  "value": {
                    "spotPrice": 655.89,
                    "riskFreeRate": 0.05,
                    "dividendYield": 0,
                    "wallMaxDte": 30,
                    "strikes": [
                      {
                        "strike_cents": 65000,
                        "stk_px_cents": 65589,
                        "c_oi": 12500,
                        "p_oi": 8200,
                        "gamma": 0.012,
                        "delta": 0.52,
                        "vega": 41.2,
                        "smooth_smv_vol": 0.18,
                        "yte": 0.0274
                      },
                      {
                        "strike_cents": 66000,
                        "stk_px_cents": 65589,
                        "c_oi": 15800,
                        "p_oi": 11200,
                        "gamma": 0.014,
                        "delta": 0.42,
                        "vega": 45.8,
                        "smooth_smv_vol": 0.185,
                        "yte": 0.0274
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exposure result. By default an `ExposureFullResult` ({ snapshot, byStrike }); when `?detail=snapshot` is passed, an `ExposureSnapshot` directly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExposureResponse"
                },
                "examples": {
                  "example": {
                    "summary": "Default response: full result ({ snapshot, byStrike }). Pass ?detail=snapshot to receive only the inner snapshot directly.",
                    "value": {
                      "snapshot": {
                        "spotPrice": 655.89,
                        "netGamma": 12500000,
                        "netDelta": -8200000,
                        "netVega": 450000,
                        "netVanna": 125000,
                        "netCharm": -45000,
                        "netVomma": 78000,
                        "callWall": 660,
                        "putWall": 650,
                        "gammaFlip": 655.5,
                        "absGamma": 660,
                        "gammaConcentration": 0.42,
                        "regime": "positive",
                        "topStrikes": [
                          {
                            "strike": 660,
                            "callGamma": 5200000,
                            "putGamma": -200000,
                            "netGamma": 5000000,
                            "callDelta": -3100000,
                            "putDelta": 1000000,
                            "netDelta": -2100000,
                            "callVega": 220000,
                            "putVega": 90000,
                            "netVega": 310000,
                            "callVanna": 40000,
                            "putVanna": -8000,
                            "netVanna": 32000,
                            "callCharm": -12000,
                            "putCharm": 2000,
                            "netCharm": -10000,
                            "callVomma": 18000,
                            "putVomma": -3000,
                            "netVomma": 15000
                          }
                        ]
                      },
                      "byStrike": [
                        {
                          "strike": 655,
                          "callGamma": 3800000,
                          "putGamma": -150000,
                          "netGamma": 3650000,
                          "callDelta": -2400000,
                          "putDelta": 900000,
                          "netDelta": -1500000,
                          "callVega": 180000,
                          "putVega": 70000,
                          "netVega": 250000,
                          "callVanna": 30000,
                          "putVanna": -6000,
                          "netVanna": 24000,
                          "callCharm": -10000,
                          "putCharm": 1500,
                          "netCharm": -8500,
                          "callVomma": 14000,
                          "putVomma": -2500,
                          "netVomma": 11500
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — validation failed or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScopeError"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            },
            "headers": {
              "Allow": {
                "description": "Allowed methods for this endpoint",
                "schema": {
                  "type": "string",
                  "example": "POST"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation failed after request parsing/resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or compute concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RateLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/ComputeConcurrencyLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/CalibrationQuotaError"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/scenario": {
      "post": {
        "operationId": "compute.scenario",
        "summary": "Spot × volatility price matrix",
        "description": "Generate a 2D scenario matrix of option prices across spot and volatility perturbations. Useful for risk scenario analysis and heat maps.\n\n**Models:** defaults to `bs` (European Black-Scholes). Set `model: \"binomial\"` to price every cell on the ex-dividend binomial tree, honoring `isAmerican`, `steps`, `treeType`, and a discrete-dividend schedule in `modelParams` (see `/v1/compute/price`) - so an American option on a dividend payer reflects early exercise. The response echoes the `model` used.",
        "tags": [
          "Compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScenarioRequest"
              },
              "examples": {
                "example": {
                  "summary": "Spot × volatility matrix",
                  "value": {
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 0.25,
                    "spotChanges": [
                      -0.1,
                      -0.05,
                      0,
                      0.05,
                      0.1
                    ],
                    "volChanges": [
                      -0.1,
                      -0.05,
                      0,
                      0.05,
                      0.1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot × volatility matrix",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioResponse"
                },
                "examples": {
                  "example": {
                    "summary": "Scenario matrix with structured cells",
                    "value": {
                      "model": "bs",
                      "spotChanges": [
                        -0.05,
                        0
                      ],
                      "volChanges": [
                        -0.1,
                        0
                      ],
                      "matrix": [
                        [
                          {
                            "spotChange": -0.05,
                            "volChange": -0.1,
                            "spot": 95,
                            "volatility": 0.18,
                            "price": 4.95,
                            "pnl": -5.5,
                            "pnlPercent": -52.63
                          },
                          {
                            "spotChange": -0.05,
                            "volChange": 0,
                            "spot": 95,
                            "volatility": 0.2,
                            "price": 5.35,
                            "pnl": -5.1,
                            "pnlPercent": -48.8
                          }
                        ],
                        [
                          {
                            "spotChange": 0,
                            "volChange": -0.1,
                            "spot": 100,
                            "volatility": 0.18,
                            "price": 10.1,
                            "pnl": -0.35,
                            "pnlPercent": -3.35
                          },
                          {
                            "spotChange": 0,
                            "volChange": 0,
                            "spot": 100,
                            "volatility": 0.2,
                            "price": 10.45,
                            "pnl": 0,
                            "pnlPercent": 0
                          }
                        ]
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — validation failed or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScopeError"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            },
            "headers": {
              "Allow": {
                "description": "Allowed methods for this endpoint",
                "schema": {
                  "type": "string",
                  "example": "POST"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation failed after request parsing/resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or compute concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RateLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/ComputeConcurrencyLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/CalibrationQuotaError"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/sensitivity": {
      "post": {
        "operationId": "compute.sensitivity",
        "summary": "Greeks curves vs spot/time/volatility",
        "description": "Compute Greeks across a single axis (spot, time, or volatility). Returns arrays of {x, price, delta, gamma, vega, theta, rho} points suitable for charting.\n\n**Supported models:** `bs` (default), `heston`, and `binomial`.\n\n**`binomial` prices each point on the ex-dividend binomial tree**, honoring `isAmerican`, `steps`, `treeType`, and a discrete-dividend schedule in `modelParams` (see `/v1/compute/price`), so an American short call on a dividend payer shows the early-exercise divergence the `bs`/`heston` sweeps cannot. Each binomial point carries `price`, `delta`, and `gamma` only (from the binomial tree — Richardson-extrapolated when the config requests it, exactly as on `/v1/compute/price` — in the same convention as the `bs` sweep); higher-order and per-day Greeks are not computed on the binomial sweep - use `bs`/`heston`, or call `/v1/compute/greeks` with `model: \"binomial\"` per point, when those matter.\n\n**Heston on this endpoint requires all five parameters explicitly.** Unlike `/v1/compute/price` and `/v1/compute/greeks`, which default `v0` and `theta` from the request `sigma`, a sweep that silently fell back to defaults would be a misleading chart rather than a single misleading number - so `v0`, `kappa`, `theta`, `volOfVol` and `rho` must all be supplied under one of their accepted spellings (see the `modelParams by model` list on `/v1/compute/price`; all spellings are accepted identically here). Omitting any of them returns a `422` with `code: \"MISSING_HESTON_PARAMS\"` naming the missing ones. Values that are present but out of domain return a `422` with `code: \"INVALID_HESTON_PARAMS\"`, and values that are not numbers return `code: \"INVALID_MODEL_PARAM\"` - the same resolver, rules and codes the pricing endpoints use.",
        "tags": [
          "Compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SensitivityRequest"
              },
              "examples": {
                "spot": {
                  "summary": "Greeks vs spot price",
                  "value": {
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 0.25,
                    "axis": "spot",
                    "points": 50,
                    "spotMin": 80,
                    "spotMax": 120
                  }
                },
                "volatility": {
                  "summary": "Greeks vs volatility",
                  "value": {
                    "isCall": true,
                    "S": 100,
                    "K": 100,
                    "r": 0.05,
                    "q": 0,
                    "sigma": 0.2,
                    "t": 0.25,
                    "axis": "volatility",
                    "points": 50,
                    "volMin": 0.1,
                    "volMax": 0.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sensitivity curve",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensitivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — validation failed or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScopeError"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedError"
                }
              }
            },
            "headers": {
              "Allow": {
                "description": "Allowed methods for this endpoint",
                "schema": {
                  "type": "string",
                  "example": "POST"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation failed after request parsing/resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or compute concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RateLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/ComputeConcurrencyLimitError"
                    },
                    {
                      "$ref": "#/components/schemas/CalibrationQuotaError"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compute/strategy": {
      "post": {
        "operationId": "compute.strategy",
        "summary": "Multi-leg strategy: net price, net Greeks, payoff curve",
        "description": "Price a multi-leg options strategy in a single call and get its net cost, position-level net Greeks, risk metrics (max profit/loss, breakevens, profit zone, risk/reward, probability of profit), and a payoff-at-expiry curve.\n\nEach option leg is priced through the same model dispatcher as `/v1/compute/price` and `/v1/compute/greeks` — set a per-leg `model` of `bs` (European) or `binomial` (American-aware, with `isAmerican`, `steps`, and a discrete-dividend schedule in `modelParams`). Supply `premium` on a leg to value it at an observed market premium instead of the model price; omit it to use the model. Stock legs use `costBasis` (per share, defaults to the shared spot) and `quantity` in shares.\n\nLegs share the underlying `S`/`r`/`q` and, by default, `sigma`/`t`; a leg may override `sigma` and `t` for a skew or a diagonal. Net Greeks are share-equivalent: an option leg contributes `signedQty x 100 x per-contract Greek`, a stock leg contributes `signedQty` to delta, and short legs are negative — so a covered call (100 long shares, 1 short call) nets a positive but sub-100 delta. Unbounded max profit/loss are returned as null with `unbounded` flags, since JSON cannot carry Infinity.",
        "tags": [
          "Compute"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategyRequest"
              },
              "examples": {
                "example": {
                  "summary": "Covered call: long 100 shares + short 1 call",
                  "value": {
                    "S": 100,
                    "r": 0.04,
                    "q": 0.01,
                    "sigma": 0.25,
                    "t": 0.0833,
                    "legs": [
                      {
                        "type": "stock",
                        "side": "long",
                        "quantity": 100,
                        "costBasis": 98
                      },
                      {
                        "type": "call",
                        "side": "short",
                        "quantity": 1,
                        "strike": 105
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Net cost, net Greeks, risk metrics, and payoff curve",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — validation failed or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScopeError"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed for this endpoint",
            "content": {
              "application/json": {
                "schema": {
[...]
